<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Вход</title>
<link href="../static/css/monitoring_main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="../static/data/sample-logo.png" width="150" alt="" id="logo_login" />
    <form action="#" method="post" class="center">
        <p>Login:</p>
        <p><input type="text" name="nm" /></p>
        <p>Password:</p>
        <p><input type="password" name="pw" /></p>
        <p><input type="submit" value="Вход" /></p>
    </form>
</body>
</html>
