<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Мониторинг сотрудников - главная</title>
<link href="../static/css/monitoring_main.css" rel="stylesheet" type="text/css">
</head>

<body>
{% for message in get_flashed_messages() %}
        <script>alert("{{ message }}")</script>
{% endfor %}
<div>
	<img src="../static/data/sample-logo.png" width="150" alt="" id="logo" />

    <form class="menu" action="logout">
        <p><input type="submit" class="menu_button" value="Выход" /></p>
    </form>

    <form class="menu" action="statistics">
        <p><input type="submit" class="menu_button" value="Общая статистика" /></p>
    </form>


</div>
<div>
<table class="table">
    <tr>
        <td class="column">
            <form class="menu width-100" action="register">
            <p><input type="submit" class="menu_button width-50 height-50px" value="Регистрация сотрудника" /></p>
            </form>
        </td>
        <td>
            <button id="add_project" class="menu_button width-50 height-50px">+ Новый проект</button>
        </td>
    </tr>
    <tr>
        <td id="user_list" class="column">
            <table id="user_template" class="row close">
                <tr>
                    <td rowspan="2" width="10%">
                        <img src="../static/data/no_photo.png" class="user_photo">
                    </td>
                    <td class="top_line"></td>
                    <td class="top_line_2" width="30%"></td>
                </tr>
                <tr>
                    <td class="bottom_line"></td>
                    <td class="bottom_line_2"></td>
                </tr>
            </table>
        </td>
        <td id="project_list" class="column">
        </td>
    </tr>
</table>
</div>

{#<table class="popup popup_open">#}
{#    <tr>#}
{#        <td width="30%"></td>#}
{#        <td></td>#}
{#        <td width="30%"></td>#}
{#    </tr>#}
{#</table>#}

<div id="popup" class="popup">
    <div class="popup__container" >
        <div id="popup_screen" class="popup__wrapper"></div>
    </div>
</div>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=6b4c979c-e360-4556-bf9e-c2700e70531e&lang=ru_RU">
	</script>

    <script src="../static/js/main_page/data.js"></script>
    <script src="../static/js/api.js"></script>
    <script src="../static/js/additional.js"></script>
    <script src="../static/js/main_page/project_list.js"></script>
    <script src="../static/js/main_page/workers_list.js"></script>
    <script src="../static/js/main_page/main.js"></script>
	<script>


      document.getElementById("popup").addEventListener('click', popup_close);
      var mainController = new main('{{ url }}', '{{ api_url }}', '{{ token }}');
      document.getElementById('add_project').onclick = new_project;
    </script>
</body>
</html>
