<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ name }}</title>
<link href="../static/css/monitoring_main.css" rel="stylesheet" type="text/css">
</head>

<body>
{% for message in get_flashed_messages() %}
        <script>alert("{{ message }}")</script>
{% endfor %}
<div>
	<img src="../static/data/sample-logo.png" width="150" alt="" id="logo" />

    <form class="menu" action="logout">
        <p><input type="submit" class="menu_button" value="Выход" /></p>
    </form>

    <form class="menu" action="statistics">
        <p><input type="submit" class="menu_button" value="Общая статистика" /></p>
    </form>

</div>
<table id="project_info" class="table border-black">
    <tbody></tbody>
</table>

<table class="table">
    <tbody>
    <tr>
        <td>Статус</td>
        <td rowspan="2"><button id="add_task" class="menu_button width-100">+ Добавить новый таск</button></td>
    </tr>
    <tr>
        <td>
    <select id="status">
        <option class="all">...</option>
        <option class="new">NEW</option>
        <option class="progress">PROGRESS</option>
        <option class="finished">FINISHED</option>
        <option class="approving">APPROVING</option>
        <option class="approving">REJECTED</option>
    </select>
        </td>
    </tr>
    </tbody>
</table>

<table id="task_container" class="table">
    <tbody></tbody>
</table>

    <script src="../static/js/api.js"></script>
    <script src="../static/js/additional.js"></script>
    <script src="../static/js/tasks/taskmanager.js"></script>
    <script src="../static/js/tasks/projectInfo.js"></script>
	<script>
      const API = new api("{{ url }}", "{{ api_url }}", "{{ token }}");
      let is_new = {{ is_new }};
      let userInfo = null;
      let project_Info = null;
      let taskController = null;
      API.get_user_info(function (request) {
          userInfo = JSON.parse(request.response);
          project_Info = new projectInfo(document.getElementById("project_info"), "{{ name }}", "{{ creator }}", "{{ description }}")
          taskController = new taskmanager(document.getElementById("task_container"), project_Info);
      });

      document.getElementById('logo').onclick = function (event) {
            window.location = API.web_url;
        }
    </script>
</body>
</html>